# 4.6-2 Combining and exporting data

## This script contains the following points:

Import the orders_products_combined dataframe from the pickle file

Check the shape of the imported dataframe

Determine a suitable way to contribute the order_porducts_combined dataframe with the products data set

Confirm the results of the merge using the merge flas

Export the newly created dataframe as ords_prods_merge in a suitable format

## 3. Import the orders_products_combined dataframe from the pickle file

In [4]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [5]:
# Import data

path = r'C:\Users\admin\06-2024 Instacart Basket Analysis'
df_ords_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## 4. Check the shape of the imported dataframe

In [7]:
df_ords_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,number_of_order,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,11.0,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,11.0,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,11.0,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,11.0,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,11.0,26405,5,0,both

In [8]:
df_ords_combined.shape

(32434489, 13)

## 5. Determine a suitable way to combine order_products_combined with products_clean

In [10]:
# Import the wrangled, cleaned, and dedeputed products data set

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_clean.csv'), index_col = False)

In [11]:
df_prods.shape

(49672, 6)

In [12]:
# Use inner join to combine the dataframe with the products data set

df_merge = df_prods.merge(df_ords_combined, on = 'product_id', indicator = '_merge2')

## 6. Confirm the results of the merge using the merge flag

In [14]:
df_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,eval_set,number_of_order,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,_merge2
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,prior,28,6,11,3.0,5,0,both,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,prior,30,6,17,20.0,1,1,both,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,prior,2,0,21,6.0,20,0,both,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,prior,1,3,13,11.0,10,0,both,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,prior,3,4,17,9.0,11,1,both,both

In [15]:
df_merge['_merge2'].value_counts()

_merge2
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [16]:
df_merge.shape

(32404859, 19)

## 7. Export the newly created dataframe as ords_prods_merge in a suitable format

In [18]:
df_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))