# 4.6-1 Combining and exporting data

## This script contains the following points:

Merge the prepared Instacart orders data with the new orders_products_prior dataframe

Export the merged file in pickle format

## 1. Merge the prepared Instacart orders data with the new orders_products_prior dataframe

In [13]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [14]:
# Import data

path = r'C:\Users\admin\06-2024 Instacart Basket Analysis'
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled_clean.csv'), index_col = False)

In [34]:
df_ords_prior.shape

(32434489, 4)

In [36]:
df_ords.shape

(3421083, 9)

In [15]:
# Check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [16]:
df_ords_prior.shape

(32434489, 4)

In [17]:
df_ords.shape

(3421083, 9)

In [18]:
# Merge the dataframes

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [19]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,number_of_order,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,11.0,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,11.0,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,11.0,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,11.0,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,11.0,26405,5,0,both

In [20]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [21]:
df_merged_large.shape

(32434489, 13)

## 2. Export the merged file in pickle format

In [23]:
# Export the merged file

df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))