## 4.8 Grouping data and aggregating variables

## This script contains the following scripts:

1. Import libraries and data

2. Find the aggregated mean of the "number_of_order" column grouped by "department_id" for the subset and the entire dataframe

3. Analyze the results and differences

4. Create a loyalty flag using transform() and loc()

5. Check the basic statistics of the product prices for each loyalty category

6. Create a spending flag for each user based on the average prices across all their orders

7. Create an order frequency flag

8. Ensure the notebook is clean and structured and that the code is well commented

9. Export the dataframe as a pickle file in Prepared Data folder

## 1. Import libraries and data

In [6]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [7]:
# Import data

path = r'C:\Users\admin\06-2024 Instacart Basket Analysis'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_new_cols.pkl'))

## 2. Find the aggregated mean of the "number_of_order" column grouped by "department_id" for the subset and the entire dataframe

In [9]:
# Create a subset

df = ords_prods_merge[:1000000]

In [10]:
df.shape

(1000000, 23)

In [11]:
df.head(10)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,_merge2,price_range_loc,busiest_day,busiest_days,busiest_period_of_day_loc
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,11,3.0,5,0,both,both,Mid-range product,Regular busy,Regular busy,Most orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,17,20.0,1,1,both,both,Mid-range product,Regular busy,Regular busy,Average orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,21,6.0,20,0,both,both,Mid-range product,Busiest day,Busiest days,Average orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,13,11.0,10,0,both,both,Mid-range product,Regular busy,Least busy,Most orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,17,9.0,11,1,both,both,Mid-range product,Least busy,Least busy,Average orders
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,7,26.0,7,0,both,both,Mid-range product,Regular busy,Busiest days,Average orders
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,14,30.0,2,0,both,both,Mid-range product,Regular busy,Regular busy,Most orders
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,10,30.0,1,0,both,both,Mid-range product,Regular busy,Least busy,Most orders
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,20,19.0,1,0,both,both,Mid-range product,Regular busy,Busiest days,Average orders
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,12,15.0,2,1,both,both,Mid-range product,Regular busy,Busiest days,Most orders

In [12]:
# Group data with pandas

df.groupby('product_name')

In [13]:
# Perform a single aggregation

df.groupby('department_id').agg({'number_of_order': ['mean']})

              number_of_order
                         mean
department_id
1                   15.577493
2                   17.320781
3                   16.084944
4                   17.530458
5                   14.763075
6                   16.658449
7                   17.031590
8                   15.076662
9                   15.447580
10                  18.681852
11                  15.447411
12                  14.327957
13                  16.548642
14                  16.960241
15                  16.121948
16                  17.803851
17                  15.593633
18                  19.674252
19                  16.899756
20                  16.255442
21                  25.535479

In [14]:
df.groupby('department_id')['number_of_order'].mean()

department_id
1     15.577493
2     17.320781
3     16.084944
4     17.530458
5     14.763075
6     16.658449
7     17.031590
8     15.076662
9     15.447580
10    18.681852
11    15.447411
12    14.327957
13    16.548642
14    16.960241
15    16.121948
16    17.803851
17    15.593633
18    19.674252
19    16.899756
20    16.255442
21    25.535479
Name: number_of_order, dtype: float64

In [15]:
df.groupby('department_id').number_of_order.mean()

department_id
1     15.577493
2     17.320781
3     16.084944
4     17.530458
5     14.763075
6     16.658449
7     17.031590
8     15.076662
9     15.447580
10    18.681852
11    15.447411
12    14.327957
13    16.548642
14    16.960241
15    16.121948
16    17.803851
17    15.593633
18    19.674252
19    16.899756
20    16.255442
21    25.535479
Name: number_of_order, dtype: float64

In [16]:
# Perform multiple aggregations

df.groupby('department_id').agg({'number_of_order': ['mean', 'min', 'max']})

              number_of_order
                         mean min max
department_id
1                   15.577493   1  99
2                   17.320781   1  96
3                   16.084944   1  99
4                   17.530458   1  99
5                   14.763075   1  99
6                   16.658449   1  99
7                   17.031590   1  99
8                   15.076662   1  98
9                   15.447580   1  99
10                  18.681852   1  99
11                  15.447411   1  99
12                  14.327957   1  99
13                  16.548642   1  99
14                  16.960241   1  99
15                  16.121948   1  99
16                  17.803851   1  99
17                  15.593633   1  99
18                  19.674252   1  99
19                  16.899756   1  99
20                  16.255442   1  99
21                  25.535479   1  98

In [17]:
# Find the aggregated mean for the entire dataframe

ords_prods_merge.groupby('department_id')['number_of_order'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: number_of_order, dtype: float64

## 3. Analyze the results and differences

Both the entire dataframe and the subset have 'department_id' from 1 to 21. But their means of 'number_of_order' by 'department_id' are different, since the subset only has 1 million rows while the entire dataframe has much more rows.

## 4. Create a loyalty flag using transform() and loc()

In [21]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['number_of_order'].transform(np.max)

C:\Users\admin\AppData\Local\Temp\ipykernel_20688\506111299.py:1: FutureWarning: The provided callable <function max at 0x000002B1B85C2C00> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['number_of_order'].transform(np.max)

In [22]:
ords_prods_merge.head(15)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,days_since_prior_order,add_to_cart_order,reordered,_merge,_merge2,price_range_loc,busiest_day,busiest_days,busiest_period_of_day_loc,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,3.0,5,0,both,both,Mid-range product,Regular busy,Regular busy,Most orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,20.0,1,1,both,both,Mid-range product,Regular busy,Regular busy,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,6.0,20,0,both,both,Mid-range product,Busiest day,Busiest days,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,11.0,10,0,both,both,Mid-range product,Regular busy,Least busy,Most orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,9.0,11,1,both,both,Mid-range product,Least busy,Least busy,Average orders,3
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,26.0,7,0,both,both,Mid-range product,Regular busy,Busiest days,Average orders,26
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,30.0,2,0,both,both,Mid-range product,Regular busy,Regular busy,Most orders,9
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,30.0,1,0,both,both,Mid-range product,Regular busy,Least busy,Most orders,12
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,19.0,1,0,both,both,Mid-range product,Regular busy,Busiest days,Average orders,20
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,15.0,2,1,both,both,Mid-range product,Regular busy,Busiest days,Most orders,20
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,22082,22082,1798115,1379,...,11.0,1,0,both,both,Mid-range product,Regular busy,Regular busy,Most orders,10
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,23713,23713,497193,1480,...,7.0,1,0,both,both,Mid-range product,Regular busy,Least busy,Most orders,43
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,23715,23715,1727826,1480,...,7.0,3,1,both,both,Mid-range product,Least busy,Least busy,Most orders,43
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,23716,23716,2694698,1480,...,12.0,4,1,both,both,Mid-range product,Regular busy,Regular busy,Most orders,43
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,23937,23937,3171753,1494,...,2.0,8,0,both,both,Mid-range product,Regular busy,Least busy,Most orders,13

In [23]:
ords_prods_merge.head(100)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,days_since_prior_order,add_to_cart_order,reordered,_merge,_merge2,price_range_loc,busiest_day,busiest_days,busiest_period_of_day_loc,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,3.0,5,0,both,both,Mid-range product,Regular busy,Regular busy,Most orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,20.0,1,1,both,both,Mid-range product,Regular busy,Regular busy,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,6.0,20,0,both,both,Mid-range product,Busiest day,Busiest days,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,11.0,10,0,both,both,Mid-range product,Regular busy,Least busy,Most orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,9.0,11,1,both,both,Mid-range product,Least busy,Least busy,Average orders,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,1,Chocolate Sandwich Cookies,61,19,5.8,179480,179480,602103,10831,...,23.0,5,0,both,both,Mid-range product,Regular busy,Least busy,Most orders,10
96,0,1,Chocolate Sandwich Cookies,61,19,5.8,184011,184011,49629,11119,...,30.0,1,0,both,both,Mid-range product,Regular busy,Busiest days,Most orders,23
97,0,1,Chocolate Sandwich Cookies,61,19,5.8,185002,185002,317888,11186,...,2.0,8,0,both,both,Mid-range product,Regular busy,Regular busy,Most orders,26
98,0,1,Chocolate Sandwich Cookies,61,19,5.8,186194,186194,682486,11243,...,0.0,2,0,both,both,Mid-range product,Regular busy,Least busy,Most orders,43
99,0,1,Chocolate Sandwich Cookies,61,19,5.8,189258,189258,2861386,11448,...,3.0,6,0,both,both,Mid-range product,Regular busy,Regular busy,Most orders,21

In [24]:
# Tell panda not to assign any options regarding the max number of rows to display

pd.options.display.max_rows = None

In [25]:
ords_prods_merge.head(50)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,days_since_prior_order,add_to_cart_order,reordered,_merge,_merge2,price_range_loc,busiest_day,busiest_days,busiest_period_of_day_loc,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,3.0,5,0,both,both,Mid-range product,Regular busy,Regular busy,Most orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,20.0,1,1,both,both,Mid-range product,Regular busy,Regular busy,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,6.0,20,0,both,both,Mid-range product,Busiest day,Busiest days,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,11.0,10,0,both,both,Mid-range product,Regular busy,Least busy,Most orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,9.0,11,1,both,both,Mid-range product,Least busy,Least busy,Average orders,3
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,26.0,7,0,both,both,Mid-range product,Regular busy,Busiest days,Average orders,26
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,30.0,2,0,both,both,Mid-range product,Regular busy,Regular busy,Most orders,9
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,30.0,1,0,both,both,Mid-range product,Regular busy,Least busy,Most orders,12
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,19.0,1,0,both,both,Mid-range product,Regular busy,Busiest days,Average orders,20
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,15.0,2,1,both,both,Mid-range product,Regular busy,Busiest days,Most orders,20
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,22082,22082,1798115,1379,...,11.0,1,0,both,both,Mid-range product,Regular busy,Regular busy,Most orders,10
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,23713,23713,497193,1480,...,7.0,1,0,both,both,Mid-range product,Regular busy,Least busy,Most orders,43
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,23715,23715,1727826,1480,...,7.0,3,1,both,both,Mid-range product,Least busy,Least busy,Most orders,43
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,23716,23716,2694698,1480,...,12.0,4,1,both,both,Mid-range product,Regular busy,Regular busy,Most orders,43
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,23937,23937,3171753,1494,...,2.0,8,0,both,both,Mid-range product,Regular busy,Least busy,Most orders,13
15,0,1,Chocolate Sandwich Cookies,61,19,5.8,23938,23938,186761,1494,...,6.0,18,1,both,both,Mid-range product,Regular busy,Regular busy,Average orders,13
16,0,1,Chocolate Sandwich Cookies,61,19,5.8,23940,23940,317121,1494,...,10.0,12,1,both,both,Mid-range product,Regular busy,Regular busy,Average orders,13
17,0,1,Chocolate Sandwich Cookies,61,19,5.8,24740,24740,200390,1540,...,7.0,10,0,both,both,Mid-range product,Regular busy,Regular busy,Fewer orders,28
18,0,1,Chocolate Sandwich Cookies,61,19,5.8,24741,24741,374436,1540,...,6.0,9,1,both,both,Mid-range product,Regular busy,Busiest days,Average orders,28
19,0,1,Chocolate Sandwich Cookies,61,19,5.8,24742,24742,2920553,1540,...,14.0,9,1,both,both,Mid-range product,Regular busy,Busiest days,Fewer orders,28
20,0,1,Chocolate Sandwich Cookies,61,19,5.8,24743,24743,2813049,1540,...,8.0,7,1,both,both,Mid-range product,Regular busy,Regular busy,Fewer orders,28
21,0,1,Chocolate Sandwich Cookies,61,19,5.8,24744,24744,2365998,1540,...,6.0,6,1,both,both,Mid-range product,Regular busy,Busiest days,Fewer orders,28
22,0,1,Chocolate Sandwich Cookies,61,19,5.8,24745,24745,1604797,1540,...,28.0,6,1,both,both,Mid-range product,Regular busy,Busiest days,Fewer orders,28
23,0,1,Chocolate Sandwich Cookies,61,19,5.8,24750,24750,2799665,1540,...,7.0,10,1,both,both,Mid-range product,Regular busy,Busiest days,Most orders,28
24,0,1,Chocolate Sandwich Cookies,61,19,5.8,24751,24751,2228851,1540,...,7.0,3,1,both,both,Mid-range product,Regular busy,Busiest days,Most orders,28
25,0,1,Chocolate Sandwich Cookies,61,19,5.8,24754,24754,2337422,1540,...,0.0,5,1,both,both,Mid-range product,Busiest day,Busiest days,Average orders,28
26,0,1,Chocolate Sandwich Cookies,61,19,5.8,24755,24755,2699008,1540,...,7.0,11,1,both,both,Mid-range product,Busiest day,Busiest days,Average orders,28
27,0,1,Chocolate Sandwich Cookies,61,19,5.8,24756,24756,1914830,1540,...,7.0,11,1,both,both,Mid-range product,Busiest day,Busiest days,Average orders,28
28,0,1,Chocolate Sandwich Cookies,61,19,5.8,24757,24757,783503,1540,...,7.0,5,1,both,both,Mid-range product,Busiest day,Busiest days,Average orders,28
29,0,1,Chocolate Sandwich Cookies,61,19,5.8,24758,24758,2500516,1540,...,7.0,15,1,both,both,Mid-range product,Busiest day,Busiest days,Average orders,28
30,0,1,Chocolate Sandwich Cookies,61,19,5.8,24760,24760,716845,1540,...,3.0,4,1,both,both,Mid-range product,Least busy,Least busy,Average orders,28
31,0,1,Chocolate Sandwich Cookies,61,19,5.8,24761,24761,1955535,1540,...,16.0,6,1,both,both,Mid-range product,Regular busy,Regular busy,Average orders,28
32,0,1,Chocolate Sandwich Cookies,61,19,5.8,24763,24763,1424793,1540,...,5.0,1,1,both,both,Mid-range product,Regular busy,Busiest days,Fewer orders,28
33,0,1,Chocolate Sandwich Cookies,61,19,5.8,24764,24764,749498,1540,...,6.0,1,1,both,both,Mid-range product,Busiest day,Busiest days,Average orders,28
34,0,1,Chocolate Sandwich Cookies,61,19,5.8,25854,25854,2434812,1598,...,11.0,2,0,both,both,Mid-range product,Regular busy,Regular busy,Most orders,4
35,0,1,Chocolate Sandwich Cookies,61,19,5.8,25855,25855,1531889,1598,...,21.0,2,1,both,both,Mid-range product,Regular busy,Regular busy,Most orders,4
36,0,1,Chocolate Sandwich Cookies,61,19,5.8,25856,25856,726947,1598,...,2.0,3,1,both,both,Mid-range product,Least busy,Least busy,Average orders,4
37,0,1,Chocolate Sandwich Cookies,61,19,5.8,26514,26514,627615,1647,...,11.0,1,0,both,both,Mid-range product,Regular busy,Busiest days,Most orders,10
38,0,1,Chocolate Sandwich Cookies,61,19,5.8,26517,26517,2507439,1647,...,18.0,6,1,both,both,Mid-range product,Busiest day,Busiest days,Most orders,10
39,0,1,Chocolate Sandwich Cookies,61,19,5.8,26519,26519,1152609,1647,...,8.0,3,1,both,both,Mid-range product,Regular busy,Busiest days,Most orders,10
40,0,1,Chocolate Sandwich Cookies,61,19,5.8,26521,26521,1048339,1647,...,30.0,10,1,both,both,Mid-range product,Busiest day,Busiest days,Average orders,10
41,0,1,Chocolate Sandwich Cookies,61,19,5.8,26522,26522,2818381,1647,...,25.0,1,1,both,both,Mid-range product,Least busy,Least busy,Most orders,10
42,0,1,Chocolate Sandwich Cookies,61,19,5.8,45857,45857,2722928,2833,...,11.0,12,0,both,both,Mid-range product,Busiest day,Busiest days,Most orders,10
43,0,1,Chocolate Sandwich Cookies,61,19,5.8,46112,46112,1482338,2850,...,9.0,10,0,both,both,Mid-range product,Regular busy,Busiest days,Most orders,23
44,0,1,Chocolate Sandwich Cookies,61,19,5.8,46221,46221,2311344,2857,...,10.0,5,0,both,both,Mid-range product,Regular busy,Busiest days,Average orders,25
45,0,1,Chocolate Sandwich Cookies,61,19,5.8,48737,48737,812943,3010,...,7.0,11,0,both,both,Mid-range product,Regular busy,Least busy,Most orders,13
46,0,1,Chocolate Sandwich Cookies,61,19,5.8,49060,49060,256839,3029,...,11.0,8,0,both,both,Mid-range product,Regular busy,Regular busy,Average orders,5
47,0,1,Chocolate Sandwich Cookies,61,19,5.8,54482,54482,2192488,3395,...,30.0,7,0,both,both,Mid-range product,Regular busy,Regular busy,Most orders,6
48,0,1,Chocolate Sandwich Cookies,61,19,5.8,63154,63154,207661,3904,...,11.0,2,0,both,both,Mid-range product,Regular busy,Busiest days,Most orders,3
49,0,1,Chocolate Sandwich Cookies,61,19,5.8,64629,64629,1394659,4006,...,7.0,8,0,both,both,Mid-range product,Regular busy,Busiest days,Most orders,42

In [26]:
# Deriving columns with loc()

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [27]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [28]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [29]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [30]:
ords_prods_merge[['user_id', 'loyalty_flag', 'number_of_order']].head(60)

    user_id      loyalty_flag  number_of_order
0       138  Regular customer               28
1       138  Regular customer               30
2       709      New customer                2
3       764      New customer                1
4       764      New customer                3
5       777  Regular customer               16
6       825      New customer                3
7       910  Regular customer               12
8      1052  Regular customer               10
9      1052  Regular customer               15
10     1379      New customer                1
11     1480    Loyal customer               36
12     1480    Loyal customer               38
13     1480    Loyal customer               39
14     1494  Regular customer                6
15     1494  Regular customer                7
16     1494  Regular customer                9
17     1540  Regular customer                4
18     1540  Regular customer                5
19     1540  Regular customer                6
20     1540  Regular customer                7
21     1540  Regular customer                8
22     1540  Regular customer                9
23     1540  Regular customer               14
24     1540  Regular customer               15
25     1540  Regular customer               18
26     1540  Regular customer               19
27     1540  Regular customer               20
28     1540  Regular customer               21
29     1540  Regular customer               22
30     1540  Regular customer               24
31     1540  Regular customer               25
32     1540  Regular customer               27
33     1540  Regular customer               28
34     1598      New customer                1
35     1598      New customer                2
36     1598      New customer                3
37     1647      New customer                1
38     1647      New customer                4
39     1647      New customer                6
40     1647      New customer                8
41     1647      New customer                9
42     2833      New customer                1
43     2850  Regular customer                7
44     2857  Regular customer               24
45     3010  Regular customer                5
46     3029      New customer                1
47     3395      New customer                4
48     3904      New customer                1
49     4006    Loyal customer                2
50     4006    Loyal customer                3
51     4006    Loyal customer                5
52     4006    Loyal customer                9
53     4006    Loyal customer               12
54     4122  Regular customer               11
55     4141      New customer                2
56     4343      New customer                1
57     4553      New customer                3
58     4845  Regular customer                6
59     6866      New customer                1

## 5. Check the basic statistics of the product prices for each loyalty category

In [32]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

The mean of product prices for Loyal customer (10.37) is a little lower than the means of product prices for Regular customer (13.29) and New customer (12.5).

## 6. Create a spending flag for each user based on the average prices across all their orders

In [35]:
ords_prods_merge['average_prices'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\admin\AppData\Local\Temp\ipykernel_20688\1640056616.py:1: FutureWarning: The provided callable <function mean at 0x000002B1B85C3600> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['average_prices'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [36]:
ords_prods_merge.head(15)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,reordered,_merge,_merge2,price_range_loc,busiest_day,busiest_days,busiest_period_of_day_loc,max_order,loyalty_flag,average_prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,0,both,both,Mid-range product,Regular busy,Regular busy,Most orders,32,Regular customer,6.935811
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,1,both,both,Mid-range product,Regular busy,Regular busy,Average orders,32,Regular customer,6.935811
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,0,both,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,0,both,both,Mid-range product,Regular busy,Least busy,Most orders,3,New customer,4.972414
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,1,both,both,Mid-range product,Least busy,Least busy,Average orders,3,New customer,4.972414
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,0,both,both,Mid-range product,Regular busy,Busiest days,Average orders,26,Regular customer,6.935398
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,0,both,both,Mid-range product,Regular busy,Regular busy,Most orders,9,New customer,5.957576
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,0,both,both,Mid-range product,Regular busy,Least busy,Most orders,12,Regular customer,6.680000
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,0,both,both,Mid-range product,Regular busy,Busiest days,Average orders,20,Regular customer,7.162500
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,1,both,both,Mid-range product,Regular busy,Busiest days,Most orders,20,Regular customer,7.162500
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,22082,22082,1798115,1379,...,0,both,both,Mid-range product,Regular busy,Regular busy,Most orders,10,New customer,5.813636
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,23713,23713,497193,1480,...,0,both,both,Mid-range product,Regular busy,Least busy,Most orders,43,Loyal customer,5.081633
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,23715,23715,1727826,1480,...,1,both,both,Mid-range product,Least busy,Least busy,Most orders,43,Loyal customer,5.081633
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,23716,23716,2694698,1480,...,1,both,both,Mid-range product,Regular busy,Regular busy,Most orders,43,Loyal customer,5.081633
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,23937,23937,3171753,1494,...,0,both,both,Mid-range product,Regular busy,Least busy,Most orders,13,Regular customer,6.803797

In [37]:
# Create a spending flag for each user

ords_prods_merge.loc[ords_prods_merge['average_prices'] < 10, 'spending_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['average_prices'] >= 10, 'spending_flag'] = 'High spender'

In [38]:
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

## 7. Create an order frequency flag

In [40]:
ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\admin\AppData\Local\Temp\ipykernel_20688\2588299015.py:1: FutureWarning: The provided callable <function median at 0x000002B1B873ADE0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [41]:
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,_merge2,price_range_loc,busiest_day,busiest_days,busiest_period_of_day_loc,max_order,loyalty_flag,average_prices,spending_flag,median_days_since_prior_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,both,Mid-range product,Regular busy,Regular busy,Most orders,32,Regular customer,6.935811,Low spender,8.0
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,both,Mid-range product,Regular busy,Regular busy,Average orders,32,Regular customer,6.935811,Low spender,8.0
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,8.0
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,both,Mid-range product,Regular busy,Least busy,Most orders,3,New customer,4.972414,Low spender,11.0
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,both,Mid-range product,Least busy,Least busy,Average orders,3,New customer,4.972414,Low spender,11.0

In [42]:
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] > 10) & (ords_prods_merge['median_days_since_prior_order'] <= 20), 'order_frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [43]:
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day_loc,max_order,loyalty_flag,average_prices,spending_flag,median_days_since_prior_order,order_frequency_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,Mid-range product,Regular busy,Regular busy,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,Mid-range product,Regular busy,Regular busy,Average orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,Mid-range product,Regular busy,Least busy,Most orders,3,New customer,4.972414,Low spender,11.0,Regular customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,Mid-range product,Least busy,Least busy,Average orders,3,New customer,4.972414,Low spender,11.0,Regular customer

## 8. Ensure the notebook is clean and structured and that the code is well commented

## 9. Export the dataframe as a pickle file in Prepared Data folder

In [46]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_new_cols_grouped.pkl'))