# 4.9-1 Dropping unnamed columns in ords_prods_merge dataframe

In [21]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [22]:
# Import data

path = r'C:\Users\admin\06-2024 Instacart Basket Analysis'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_new_cols_grouped.pkl'))

In [23]:
ords_prods_merge.dtypes

Unnamed: 0_x                        int64
product_id                          int64
product_name                       object
aisle_id                            int64
department_id                       int64
prices                            float64
Unnamed: 0.1                        int64
Unnamed: 0_y                        int64
order_id                            int64
user_id                             int64
eval_set                           object
number_of_order                     int64
orders_day_of_week                  int64
order_hour_of_day                   int64
days_since_prior_order            float64
add_to_cart_order                   int64
reordered                           int64
_merge                           category
_merge2                          category
price_range_loc                    object
busiest_day                        object
busiest_days                       object
busiest_period_of_day_loc          object
max_order                           int64
loyalty_flag                       object
average_prices                    float64
spending_flag                      object
median_days_since_prior_order     float64
order_frequency_flag               object
dtype: object

In [24]:
ords_prods_merge.describe()

,Unnamed: 0_x,product_id,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,number_of_order,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,max_order,average_prices,median_days_since_prior_order
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,2.560037e+04,2.559866e+04,7.119612e+01,9.919792e+00,1.198023e+01,1.709858e+06,1.709858e+06,1.710745e+06,1.029372e+05,1.714230e+01,2.738867e+00,1.342515e+01,1.109741e+01,8.352547e+00,5.895873e-01,3.305217e+01,1.198023e+01,1.002084e+01
std,1.408555e+04,1.408400e+04,3.821139e+01,6.281485e+00,4.956554e+02,9.864575e+05,9.864575e+05,9.872988e+05,5.946610e+04,1.753532e+01,2.090077e+00,4.246380e+00,8.493221e+00,7.127071e+00,4.919087e-01,2.515525e+01,8.324227e+01,6.323533e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00
25%,1.354400e+04,1.354400e+04,3.100000e+01,4.000000e+00,4.200000e+00,8.556370e+05,8.556370e+05,8.559470e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,3.000000e+00,0.000000e+00,1.300000e+01,7.387298e+00,6.000000e+00
50%,2.530300e+04,2.530200e+04,8.300000e+01,9.000000e+00,7.400000e+00,1.709176e+06,1.709176e+06,1.711049e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,6.000000e+00,1.000000e+00,2.600000e+01,7.824786e+00,8.000000e+00
75%,3.795100e+04,3.794700e+04,1.070000e+02,1.600000e+01,1.130000e+01,2.565919e+06,2.565919e+06,2.565499e+06,1.543890e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.400000e+01,1.100000e+01,1.000000e+00,4.700000e+01,8.254023e+00,1.200000e+01
max,4.969200e+04,4.968800e+04,1.340000e+02,2.100000e+01,9.999900e+04,3.421081e+06,3.421081e+06,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,1.450000e+02,1.000000e+00,9.900000e+01,2.500542e+04,3.000000e+01

In [25]:
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day_loc,max_order,loyalty_flag,average_prices,spending_flag,median_days_since_prior_order,order_frequency_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,Mid-range product,Regular busy,Regular busy,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,Mid-range product,Regular busy,Regular busy,Average orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,Mid-range product,Regular busy,Least busy,Most orders,3,New customer,4.972414,Low spender,11.0,Regular customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,Mid-range product,Least busy,Least busy,Average orders,3,New customer,4.972414,Low spender,11.0,Regular customer

In [26]:
ords_prods_merge = ords_prods_merge.drop(columns = ['Unnamed: 0_x', 'Unnamed: 0.1', 'Unnamed: 0_y'])

In [27]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,number_of_order,orders_day_of_week,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day_loc,max_order,loyalty_flag,average_prices,spending_flag,median_days_since_prior_order,order_frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,Mid-range product,Regular busy,Regular busy,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,Mid-range product,Regular busy,Regular busy,Average orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,Mid-range product,Regular busy,Least busy,Most orders,3,New customer,4.972414,Low spender,11.0,Regular customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,Mid-range product,Least busy,Least busy,Average orders,3,New customer,4.972414,Low spender,11.0,Regular customer

In [28]:
ords_prods_merge.dtypes

product_id                          int64
product_name                       object
aisle_id                            int64
department_id                       int64
prices                            float64
order_id                            int64
user_id                             int64
eval_set                           object
number_of_order                     int64
orders_day_of_week                  int64
order_hour_of_day                   int64
days_since_prior_order            float64
add_to_cart_order                   int64
reordered                           int64
_merge                           category
_merge2                          category
price_range_loc                    object
busiest_day                        object
busiest_days                       object
busiest_period_of_day_loc          object
max_order                           int64
loyalty_flag                       object
average_prices                    float64
spending_flag                      object
median_days_since_prior_order     float64
order_frequency_flag               object
dtype: object

In [29]:
# Export the dataframe

ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_new_cols_grouped_dropped.pkl'))